{
    "jsc": {
        "parser": {
            "syntax": "ecmascript",
            "jsx": true
        },
        "transform": {
            "react": {
                "pragma": "createElement",
                "pragmaFrag": "Fragment"
            }
        }
    }
}